{% extends 'base.html' %}
{% block title %}A Game of Boggle{% endblock %}
{% block content %}
{% for msg in get_flashed_messages() %}<p>{{msg}}</p>{% endfor %}
<h1>Boggle</h1>
<h2>Instructions:</h2>
<p>After beginning the game, find words on the resulting 5x5 grid. Words can be created from adjacent letters; individual letter tiles may not be reused. Enter them into the given input. If the word is valid, points will be added to your score. The game will last for 60 seconds, at which point no more guesses may be made.</p>
<h2>The Game:</h2>
<div id='game'>
    {% for row in board %}
    <div>
        {% for letter in row %}
        <span>{{letter}}</span>
        {% endfor %}
    </div>
    {% endfor %}
</div>
<form id='guess-form' action='/guess'>
    <label for='guess'>Your guess:</label>
    <input type='text' placeholder='Enter a word here' id='guess' name='guess'>
    <button>Guess</button>
</form>
<a href='setup-game'>Restart Game</a>
<div id="score">
    <label for="score-value">Score:</label>
    <span id="score-value"></span>
    <label for="games-played">Games played:</label>
    <span id="games-played">{{session['game-count']}}</span>
</div>
<div id="guesses"></div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/static/app.js"></script>
{% endblock %}