{% extends 'base.html' %}
{% block title %}Starting the Game{% endblock %}
{% block content %}
<h1>Boggle</h1>
<h2>Instructions:</h2>
<p>After beginning the game, find words on the resulting 5x5 grid. Words can be created from adjacent letters; individual letter tiles may not be reused. Enter them into the given input. If the word is valid, points will be added to your score. The game will last for 60 seconds, at which point no more guesses may be made.</p>
<h2>Ready to play?</h2>
<p>Click the link below to start your game.</p>
<a id = "setup-game" href="/setup-game">Go!</a>
<h2>Previous Game Data</h2>
<div id="previous-game-data">
    <section id="previous-game-count-area">
        <label for="previous-game-count">Previous Game Count:</label>
        <span id="previous-game-count"></span>
    </section>
</div>
{% endblock %}